<h2>{{ date }}</h2>
<p>Total: {{ totalPrice }}€</p>

<ng-container *ngFor="let placeId of placeIds">
  <h3>{{ places[placeId]['name'] }}</h3>
  <p>Sub-total: {{ places[placeId]['price'] }}</p>

  <table mat-table [dataSource]="places[placeId]['productList']">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let product">{{ product.quantity }} {{ product.unit }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
